<div class="login login--blue-background">
  <div class="login__form-container">
    <h1 class="login__title">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
      <div class="login__form-group mb-3">
        <label for="username" class="login__label form-label">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="login__input form-control"
          [ngClass]="{'login__input--invalid':(userName.invalid && userName.touched) || errorMessage}"
        />
        <div
          *ngIf="(userName.invalid && userName.touched) || errorMessage"
          class="login__error invalid-feedback"
        >
          {{ errorMessage }}
        </div>
      </div>
      <div class="login__form-group mb-3">
        <label for="password" class="login__label form-label">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="login__input form-control"
          [ngClass]="{'login__input--invalid':(password.invalid && password.touched) || errorMessage}"
        />
        <div
          *ngIf="(password.invalid && password.touched) || errorMessage"
          class="login__error invalid-feedback"
        >
          {{ errorMessage }}
        </div>
      </div>
      <button
        type="submit"
        class="login__button btn btn-primary"
        [disabled]="!loginForm.valid"
      >
        Aceptar
      </button>
    </form>
  </div>
</div>
