<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">loading...</p></ngx-spinner
>

<div
  class="d-flex justify-content-center align-items-center vh-100 bg-primary text-white"
>
  <div class="card p-4 bg-light text-dark" style="width: 400px">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Loguin</h3>
      <form [formGroup]="loginForm">
        <div class="form-group mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            #userr
            formControlName="username"
            [class.invalid]="
              loginForm.get('username')?.invalid &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
            "
          />
          @if (loginForm.get('username')?.errors?.['required'] &&
          (loginForm.get('username')?.touched ||
          loginForm.get('username')?.dirty ) ) {
          <div>El usiuario es requerida.</div>
          }
        </div>
        <div class="form-group mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            [class.invalid]="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          />
          @if (loginForm.get('password')?.errors?.['required'] &&
          (loginForm.get('password')?.touched ||
          loginForm.get('password')?.dirty ) ) {
          <div>El password es requerida.</div>
          }
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" #onSubmit>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
