<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">Lista de Tareas</h4>
                <span class="user-display">Usuario: {{ usuario }}</span>
              </div>
         
          <div class="card-body">
            <form [formGroup]="tareaForm" (ngSubmit)="addTarea()">
            
              <div class="input-group mb-3">
                <label for="descripcion" class="form-label me-3">Tarea: </label>
                 <input type="text" class="form-control" placeholder="Agregar tarea" 
                  formControlName="descripcion" 
                  aria-describedby="button-addon2" 
                  (keydown.enter)="onKeydown($event)">
                <button class="btn btn-primary" type="submit" [disabled]="!tareaForm.valid">Agregar</button>
              </div>
            </form>
            <ul class="list-group">
                <li *ngFor="let tarea of tareas; let i = index" class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{'completed': tarea.completed}">
                  <div class="d-flex align-items-center">
                    <input type="checkbox" class="form-check-input" 
                          (change)="completarTarea(i)" 
                          [checked]="tarea.completed">
                          <!--<span class="ms-2" [ngClass]="{'text-decoration-line-through': tarea.completed}">{{ tarea.descripcion }}</span>-->
                    <span class="ms-2">{{ tarea.descripcion }}</span>
                  </div>
                  <button class="btn btn-danger btn-sm" (click)="eliminarTarea(i)" *ngIf="!tarea.completed">X</button>
                </li>
              </ul>
              {{errorMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
